body {
  margin:0;
}

header {
       text-align:center;
         padding: 40px;
  background-color:white;
  border:5px solid purple;
}

nav {
  overflow: hidden;
  background-color: white;
}
nav {
 float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; 
}

nav a:hover{
   background-color: #ddd;
  color: purple;
}
